<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477096403406-ges6kvoi2khm3e0dsi9kot2ppo4jknpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477096403406-ges6kvoi2khm3e0dsi9kot2ppo4jknpq</string>
	<key>API_KEY</key>
	<string>AIzaSyC7-KskK9_RBop0pJfHR1-sYDpTw6P-Sgs</string>
	<key>GCM_SENDER_ID</key>
	<string>477096403406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sitneat</string>
	<key>PROJECT_ID</key>
	<string>sitneat-598a6</string>
	<key>STORAGE_BUCKET</key>
	<string>sitneat-598a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477096403406:ios:ad664062a53c063bd60b9f</string>
	<key>DATABASE_URL</key>
	<string>https://sitneat-598a6.firebaseio.com</string>
</dict>
</plist>